
@media (min-width: 320px) and (max-width: 767px) {
    /* *{
        background-color: red;
    } */
    .bd-table {
        overflow-y: hidden;
        width: fit-content;
        position: relative;
        margin-right: 0;
        margin-left: -3.5rem;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }
    .display-5 {
        font-size: 3rem;
      }

}
@media (min-width: 768px) {
    .bd-table{
        width: 85%;
    }
    .display-4 {
      font-size: 3rem;
    }
    .display-5 {
        font-size: 4rem;
      }
      .display-6 {
        font-size: 5rem;
      }
}

.bd-table {
    padding: 1rem;
    border: solid #dee2e6;
    border-width: 1px 0 0;
}

.card {
    margin-bottom: 20px;
    border: none;
}
.header-bar {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}
.navbar {
    padding-bottom: 0 !important;
    padding-top: 10px !important;
    display: block;
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    background: #212529;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px;
    border: 2px solid white;
    border-radius: 24px;
}
.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.form-signin {
    width: 100%;
    max-width: 330px;
    margin: auto;
}

#floatingPassword{
    padding-top: 10px;
}